* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #292522;
}

header {
    height: 300px;
    background-image: url(images/tolkien\ texturised.jpg);
    background-position: right -90px top -375px;
    position: relative;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.5);
    margin-bottom: 60px;
}

.title {
    position: absolute;
    top: 50%;
    /* left: 24%; */
    right: 53%;
    transform: translateY(-50%);
    font-family: 'Amiri', serif;
    color: #C5C2C2;
    line-height: 1;
}

h1 {
    font-family: 'Amiri', serif;
    text-shadow: 5px 5px 5px black;
    font-size: 80px;
    font-weight: 400;

}

.title p {
    font-size: 32px;
    font-weight: 700;
    text-align: right;

}

section {
    max-width: 1150px;
    margin: auto;
}

.tolkien-photo {
    width: 100%;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
}

figcaption {
    font-family: 'Amiri', serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px 2px black;
    font-size: 32px;
    font-weight: 700;
    color: #C5C2C2;
    text-align: center;
    margin-top: -40px;
    padding: 5px;
    margin-bottom: 50px;
}

.text-background {
    background-color: #312F29;
    width: 100%;
    box-shadow: 10px 10px 20px 0 rgba(0,0,0,0.2);
}

.text {
    max-width: 815px;
    margin: auto;
    padding: 60px 20px;
    color: #E1DEDE;
}

.text h2 {
    text-shadow: 2px 2px 2px black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text p {
    text-shadow: 2px 2px 2px black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

footer {
    background-color: #292522;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #565656;
}

a {
    text-decoration: none;
    color: lightblue;
}

@media (max-width: 930px) {
    h1 {
        font-size: 64px;
    }

    .title p {
        font-size: 24px;
    }

    header {
        height: 220px;
        display: flex;
        text-align: center;
        align-items: flex-end;
        justify-content: center;
        background-image: none;
        background-color: rgb(22, 20, 20);
    }

    .title {
        position: static;
    }

    figcaption {
        font-size: 24px;
        margin-top: -30px;
    }
} 
